<%= form_with(model: food, url: foods_path) do |form| %>

  <div>
    <%= form.label :name%>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit %>
  </div>

  <div>
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price %>
  </div>

  <div>
    <%= form.submit :Add %>
  </div>
<% end %>
